################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CryptoAutoTrade/.vs/CryptoAutoTrade/v16
/CryptoAutoTrade/CryptoAutoTrade/bin/Debug/netcoreapp3.1
/CryptoAutoTrade/CryptoAutoTrade/obj
